// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#piano {
  height: 290px;
  padding: 90px 30px 0 30px;
  border-radius: 10px;
  background-color: #fc8989;
}

.keys {
}
